
@media only screen and (max-width: 600px){
  .buttondiv{
    flex-direction: column-reverse;
    #new-quote{
      margin-bottom: 10px;
    }
  }
  
}

.App {
  text-align: center;
  #quote-box{
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    color: black;
    
    

    #author{
      text-align: end;
      
    }
    .buttondiv{
      display: flex;
      justify-content: space-between;
      min-height: 50px;
    #tweet-quote{
      display: flex;
      background-color: black;
      float: left;
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 5px;
      align-self: center;
      justify-content: center;
      
      }
    #new-quote{
      display: flex;
      float: right;
      align-self: center;
      background-color: black;
      color: white;
      border-radius: 5px;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 15px;
    }
    }
    
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}



